@font-face {
    font-family: "rosettaicons";
    src: url('/assets/fonts/rosetta-icons-Regular.woff');
    src: url('/assets/fonts/rosetta-icons-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/HelveticaNeue-1.ttf');
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $color;
    background-color: $background;
}
