.container {
    display: flex;
    justify-content: center;
}

.fix-nav {
    margin: 56px 5px;
}

.container .first {
    justify-content: flex-start;
    width: 290px;
    height: 196px;
    background: #fff;
    padding-bottom: 10px;
}

.container .second {
    width: 588px;
    min-height: 100px;
    background: #F4EFF9;
}

.container .third {
    width: 290px;
    height: 1000px;
    background: #ccc;
}

.border {
    border-radius: 5px;
}