.cover-image img {
    width: 100%;
    height: 96px;
    float: left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile-image {

    img {
        width: 72px;
        height: 72px;
        border: 4px solid #FFF;
        margin-top: -42px;
        margin-left: 10px;
        float: left;
    }

    .user-info {
        float: left;
        margin: 10px;
        
        h1 {
            color: #000;
        }
    }
}

.stats {
    float: left;
    min-width: 85px;
    margin-left: 10px;

    small {
        text-transform: uppercase;
    }

    h1 {
        color: #9266CC;
    }
}