.cover-image img {
    width: 100%;
    height: 96px;
    float: left;
}

.profile-image {

    img {
        width: 72px;
        height: 72px;
        border: 4px solid #FFF;
        margin-top: -42px;
        margin-left: 10px;
        float: left;
    }

    .user-info {
        float: left;
        margin: 10px;
    }
}

.stats {
    float: left;
    min-width: 85px;
    margin-left: 10px;
}