.default {
  border: none;
  padding: 9px 15px;
  font-weight: bold;
  border-radius: 4px;
  margin: 5px;
}

.blue {
  border: 1px solid #3b88c3;
  background-color: #1da1f2;
  color: #FFFFFF;
}

.yellow {
  background-color: #f2a330;
}

.follow {
  padding: 6px 25px;
  margin: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid #9266CC;
  color: #9266CC;
}