doctype html
html(lang="eng")
    head
        title="Twitter clone"
    body
        nav(class="top-menu")
            ul(class="actions")
                li(class="item active") <a href=""><span class="icon icon-home"></span><span class="text">Home<span></a>
                li(class="item") <a href=""><span class="icon icon-lightning"></span><span class="text">Moments</span></a>
                li(class="item") <a href=""><span class="icon icon-bell"></span><span class="text">Notifications</span></a>
                li(class="item") <a href=""><span class="icon icon-message"></span><span class="text">Messages</span></a>
            
            div(class="logo") <a href="/"><img src="assets/images/twitter.png" width="25"/></a>

            ul(class="info")
                li(class="item") <form><input type="text" placeholder="Search Twitter"/><span class="icon icon-search"></span></form>
                li(class="item") <img class="profile" src="assets/images/profile.jpg" width="35"/>
                li(class="item") <button class="icon icon-tweet tweet-button"></button>

        div(class="container")
            section(class="fix-nav first border")
                div(class="cover-image")
                    <img src="http://lorempixel.com/400/200/"/>
                div(class="profile-image")
                    <img src="http://lorempixel.com/200/200/" class="border"/>
                    
                    div(class="user-info")
                        h1() Marabesi
                        p() @MatheusMarabesi
                        
                div(class="clear")

                div(class="stats")
                    <small>Tweet</small>
                    <h1>10</h1>

                div(class="stats")
                    <small>Following</small>
                    <h1>10</h1>

                div(class="stats")
                    <small>Followers</small>
                    <h1>10</h1>

            section(class="fix-nav second border")
                div(class="tweet-box")
                    img(src="http://lorempixel.com/32/32" class="border")
                    textarea(class="tweet-area" placeholder="What's happening?")

                    div(class="action")
                        button(class="photo")
                        button(class="icon-gif")
                        button(class="icon-pool")
                        button(class="icon-location")

                    div(class="tweet-action")
                        span(class="characters-count") 140
                        button(class="icon icon-tweet tweet-button")
                            span() Tweet
                div(class="feed-notification")
                    span() View 5 new Tweets

                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    div(class="tweet-time-line")
                        div(class="tweet-picture")
                            img(src="http://lorempixel.com/48/48")

                        div(class="tweet-content")
                            h1() Monica Dinculescu
                            span() @notwaldorf
                            p() Every time I watch a Google Assistant ad, it activates my Google Home, and I know the machines are winning.

                        div(class="tweet-actions")
                            button()
                                span(class="icon-reply")
                            button()
                                span(class="icon-retweet")
                            button() RT
                                span(class="icon-like")

            section(class="fix-nav third border")
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    div(class="tweet-time-line")
                        div(class="tweet-picture")
                            img(src="http://lorempixel.com/48/48")

                        div(class="tweet-content")
                            h1() Monica Dinculescu
                            span() @notwaldorf
                            button(class="default follow") Follow
                        div(class="follow-action")
                    div(class="clear")

        script(src="app.bundle.js")